
@using BOL;
@{
    ViewData["Title"] = "Abc Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table><tr><th>Id</th> <th>Name</th> <th>Address</th></tr>
   <tr> <td></td></tr></table>>
</div>
