@using BOL


<div class="text-center">
    <h1 class="display-4">Register Employee</h1>
    <hr/>
    <form method="post" action="/employee/login">
        id : <input type="text" id="id" name="id"><br><br>
        Name : <input type="text" id="Name" name="Name"><br><br>
        <button type="submit" id="btn" name="btn">Login</button>
    </form> 
</div>